<component name="ArtifactManager">
  <artifact type="war" name="spring-security005:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="security005.war">
      <element id="artifact" artifact-name="spring-security005:war exploded" />
    </root>
  </artifact>
</component>